@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

.dosis-font {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cormorant-garamond-font {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}


body {
  /* background-color: black; */
  scroll-behavior: smooth;
}

#hero-section .bgImg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.341);
  z-index: 1;
}


#hero-section .bgImg img{
  transition-property: all;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
}

#master-piece .imgbw img{
  min-width: 150px;
  /* cursor: pointer; */
  filter: grayscale(100%);
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
#master-piece .imgbw img:hover{
  transform: scale(1.01);
  filter: grayscale(0%);
}

#cenematic-shot .title p{
  background-image: linear-gradient(to bottom , blue , #ff669e , rgba(0, 0, 0, 0));
  background-size: 100% 150%;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#cenematic-shot .title {
   padding: 10rem;
  border-radius: 50%;
  box-shadow:  0 -30px 20px rgb(60, 9, 142);
  z-index: -1;
}

#cenematic-shot #videos .video::before{
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background-image: linear-gradient(74deg , rgb(4, 7, 52) , rgb(31, 3, 48) , rgb(51, 8, 42));
  filter: blur(80px);
  z-index: -1;
}
