@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@400..900&display=swap');



* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.raleway-font {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

#hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.306);
  z-index: 1;
}


#wedding{
  background-image: linear-gradient(to bottom , transparent 5% , rgb(40, 2, 69),rgb(21, 0, 45) , transparent);
}
#cenematic-shot .title p{
  background-image: linear-gradient(45deg, aqua, #952bff, #ff669e, #952bff, aqua);
  background-size: 80%;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#cenematic-shot .title {
   padding: 10rem;
  border-radius: 50%;
  box-shadow:  0 -30px 20px rgb(60, 9, 142);
  z-index: -1;
}

#cenematic-shot #videos{
  /* background-image: linear-gradient(to bottom , transparent 5% , rgb(2, 0, 27) , transparent); */
}

#cenematic-shot #videos .video::before{
  content: "";
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background-image: linear-gradient(74deg , rgb(4, 7, 52) , rgb(31, 3, 48) , rgb(51, 8, 42));
  filter: blur(80px);
  z-index: -1;
}
